<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${selectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="navigation::bar"></div>
<div class="container-fluid main search">
    <div class="row main">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${selectionName}"></span></h2>
            <hr>
            <div th:if="${'我的问题'.equals(selectionName)}">
                <div class="media" th:each="question : ${myQuestions}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 src="https://img2.baidu.com/it/u=255089752,2114889504&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500"
                                 alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="media-desc">[[${question.comment_count}]] 个评论 • [[${question.view_count}]] 次浏览 • <span
                                th:text="${#dates.format(question.creat_time,'yyyy.MM.dd HH:mm')}"></span></span>
                    </div>
                </div>
                <nav aria-label="Page navigation" th:if="${mq_maxPage>0}">
                    <ul class="pagination">
                        <li>
                            <a th:if="${myPage-3>1}" th:href="@{'/profile/myQuestions?page=1'}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li>
                            <a th:if="${myPage-1>0}" th:href="@{'/profile/myQuestions?page='+${myPage-1}}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:if="${myPage-3>0}"><a th:href="@{'/profile/myQuestions?page='+${myPage-3}}"
                                                     th:text="${myPage-3}"></a></li>
                        <li th:if="${myPage-2>0}"><a th:href="@{'/profile/myQuestions?page='+${myPage-2}}"
                                                     th:text="${myPage-2}"></a></li>
                        <li th:if="${myPage-1>0}"><a th:href="@{'/profile/myQuestions?page='+${myPage-1}}"
                                                     th:text="${myPage-1}"></a></li>
                        <li class="active"><a th:href="@{'/profile/myQuestions?page='+${myPage}}"
                                              th:text="${myPage}"></a></li>
                        <li th:if="${myPage+1<=mq_maxPage}"><a th:href="@{'/profile/myQuestions?page='+${myPage+1}}"
                                                               th:text="${myPage+1}"></a></li>
                        <li th:if="${myPage+2<=mq_maxPage}"><a th:href="@{'/profile/myQuestions?page='+${myPage+2}}"
                                                               th:text="${myPage+2}"></a></li>
                        <li th:if="${myPage+3<=mq_maxPage}"><a th:href="@{'/profile/myQuestions?page='+${myPage+3}}"
                                                               th:text="${myPage+3}"></a></li>
                        <li>
                            <a th:if="${myPage+1<=mq_maxPage}" th:href="@{'/profile/myQuestions?page='+${myPage+1}}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a th:if="${myPage+3<mq_maxPage}" th:href="@{'/profile/myQuestions?page='+${mq_maxPage}}"
                               aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div th:if="${mq_maxPage==0}">
                    <h4 align="center">没有内容</h4>
                </div>
            </div>
            <div th:if="${'最新消息'.equals(selectionName)}">
                <div class="media" th:each="notification : ${myNotifications}">
<!--                    <div class="media-left">-->
<!--                        <a href="#">-->
<!--                            <img class="media-object img-rounded"-->
<!--                                 src="https://img2.baidu.com/it/u=255089752,2114889504&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500"-->
<!--                                 alt="...">-->
<!--                        </a>-->
<!--                    </div>-->
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a  th:text="${notification.notifier.account}"></a> [[${notification.outerAction}]]
                            详情：<a th:text="${notification.outerContent}"></a>
                        </h4>
                        <span class="media-desc" th:text="${#dates.format(notification.time,'yyyy.MM.dd HH:mm')}">
                        </span>
                    </div>
                </div>
                <nav aria-label="Page navigation" th:if="${mn_maxPage>0}">
                    <ul class="pagination">
                        <li>
                            <a th:if="${myPage-3>1}" th:href="@{'/profile/myQuestions?page=1'}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li>
                            <a th:if="${myPage-1>0}" th:href="@{'/profile/myQuestions?page='+${myPage-1}}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:if="${myPage-3>0}"><a th:href="@{'/profile/myQuestions?page='+${myPage-3}}"
                                                     th:text="${myPage-3}"></a></li>
                        <li th:if="${myPage-2>0}"><a th:href="@{'/profile/myQuestions?page='+${myPage-2}}"
                                                     th:text="${myPage-2}"></a></li>
                        <li th:if="${myPage-1>0}"><a th:href="@{'/profile/myQuestions?page='+${myPage-1}}"
                                                     th:text="${myPage-1}"></a></li>
                        <li class="active"><a th:href="@{'/profile/myQuestions?page='+${myPage}}"
                                              th:text="${myPage}"></a></li>
                        <li th:if="${myPage+1<=mn_maxPage}"><a th:href="@{'/profile/myQuestions?page='+${myPage+1}}"
                                                               th:text="${myPage+1}"></a></li>
                        <li th:if="${myPage+2<=mn_maxPage}"><a th:href="@{'/profile/myQuestions?page='+${myPage+2}}"
                                                               th:text="${myPage+2}"></a></li>
                        <li th:if="${myPage+3<=mn_maxPage}"><a th:href="@{'/profile/myQuestions?page='+${myPage+3}}"
                                                               th:text="${myPage+3}"></a></li>
                        <li>
                            <a th:if="${myPage+1<=mn_maxPage}" th:href="@{'/profile/myQuestions?page='+${myPage+1}}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a th:if="${myPage+3<mn_maxPage}" th:href="@{'/profile/myQuestions?page='+${mn_maxPage}}"
                               aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div th:if="${mn_maxPage==0}">
                    <h4 align="center">没有内容</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group" style="margin-top: 30px">
                <a href="myQuestions" th:class="${selection=='myQuestions'}?'list-group-item active':'list-group-item'">
                    我的问题
                </a>
                <a href="notifications" th:class="${selection=='notifications'}?'list-group-item active':'list-group-item'">
                    <span class="badge" th:text="${session.newNotificationsCount}"></span>最新回复
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>